:root {
  --main-accent-color: #d02b2b;
  --main-bg-color: #141429;
}

/*font-family: Risque*/ /*- main font */
/*font-family: Roboto;*/

* {
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
  /* font-family: "Open Sans", sans-serif; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
  height: 100vh;
  margin: 0;
}
h1,
h2 {
  margin: 0;
  color: #fff;
}

.site-navigation {
  margin-bottom: 90px;
}

.site-logo {
  width: 198px;
  height: 65px;
  padding: 10px 0 0 5px;
}

.main-section {
  /* background-color: var(--main-bg-color);
  height: 100vh; */
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  /* align-items: center;
  justify-content: center; */
  align-self: flex-end;
  height: 100vh;
}

.main-section-title {
  /* font-family: serif; */
  font-weight: normal;
  font-size: 52px;
  line-height: 60px;
  margin-bottom: 13px;
  text-align: left;
}

.main-section-subtitle {
  font-size: 28px;
  line-height: 32px;
  text-align: left;
  margin-bottom: 40px;
}

.main-btn {
  width: 186px;
  height: 44px;
  margin: 0 auto 20px auto;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 20px 20px 20px 0px;
  outline: none;
}

.main-btn:hover {
  background-color: #fff;
  color: var(--main-bg-color);
}

.image-container {

}

.main-section img {
  object-fit: cover;
  width: 100%;
  height: auto;
  
}

/******************/
/*** humburger menu ***/

.menu {
  position: relative;
}

.nav-links {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  padding-top: 150px;
  padding-left: 400px;
  clip-path: circle(100px at 90% -10%);
  -webkit-clip-path: circle(100px at 90% -10%);
  transition: all 1s ease-out;
  pointer-events: none;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.nav-links li:not(:last-child) {
  margin-bottom: 38px;
}

.nav-links.open {
  clip-path: circle(1000px at 90% -10%);
  -webkit-clip-path: circle(1000px at 90% -10%);
  pointer-events: all;
}

.nav-links li {
  opacity: 0;
}
.nav-links li a {
  font-size: 32px;
  line-height: 37px;
}
.nav-links li:nth-child(1) {
  transition: all 0.5s ease 0.2s;
}

.nav-links li:nth-child(2) {
  transition: all 0.5s ease 0.4s;
}

.nav-links li:nth-child(3) {
  transition: all 0.5s ease 0.6s;
}

.nav-links li:nth-child(4) {
  transition: all 0.5s ease 0.8s;
}

li.fade {
  opacity: 1;
}

.nav-tgl {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  z-index: 100;
  right: 165px;
  top: 20px;
  width: 60px;
  height: 60px;
  /* overflow: hidden; */
  border: none;
  border-radius: 50%;
  padding: 0;
  background: var(--main-accent-color);
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.24);
  line-height: 0.6;
  text-align: center;
}
.nav-tgl > span {
  display: inline-block;
  position: relative;
  height: 2px;
  width: 34px;
  border-radius: 1px;
  background: #fff;
  vertical-align: middle;
}
.nav-tgl > span:before,
.nav-tgl > span:after {
  display: inline-block;
  position: absolute;
  content: "";
  height: 2px;
  border-radius: 1px;
  background: #fff;
  transition: all 200ms;
}
.nav-tgl > span:before {
  top: -11px;
  left: 3px;
  width: 28px;
}
.nav-tgl > span:after {
  top: 11px;
  left: 6px;
  width: 22px;
}
.nav-tgl:focus {
  outline: none;
}
.nav-tgl:hover > span:after,
.nav-tgl:hover > span:before {
  width: 34px;
  left: 0;
}
.nav-tgl.toggled > span {
  height: 0;
}
.nav-tgl.toggled > span:after,
.nav-tgl.toggled > span:before {
  top: 0px;
  left: 0;
  width: 34px;
}
.nav-tgl.toggled > span:after {
  transform: rotate(-45deg);
}
.nav-tgl.toggled > span:before {
  transform: rotate(45deg);
}

.nav:before {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  content: "";
  width: 100vw;
  height: 100vh;
  background: var(--main-accent-color);
  transition: all 500ms ease-in-out;
  clip-path: circle(30px at calc(100% - 65px) 65px);
  visibility: hidden;
}

.active.nav:before {
  visibility: visible;
  clip-path: circle(850px at 90% -10%); /*full size*/
}
